.navbar-main{
    background-color: #1692df;
    width:100%;
    height: auto;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 5px 5px 8px 2px  rgb(48, 92, 159, 0.421);
    -webkit-box-shadow: 5px 5px 8px 2px rgba(48, 92, 159, 0.421); 
    -moz-box-shadow: -13px 4px 8px 2px  rgb(48, 92, 159, 0.421); 
}
#renegade .navbar-main{
    background-color: #CE3D3D;
  }

.navbar-main img {
    height:80px;
    width: auto;
    padding: 10px;
}

.theme-change{
    justify-content: center;
    height: 80px;
    width: 80px;
    right: 0;
    margin-right: 30px;
    background-color:   rgb(212, 223, 240);
    text-align: center;
    vertical-align: middle;
    
    position: fixed;

 
    margin-top:250px;
    border-radius: 7px;
    cursor: pointer;
    z-index: 1;
    box-shadow: 5px 5px 8px 2px  rgba(20, 40, 71, 0.421);
    -webkit-box-shadow: 5px 5px 8px 2px rgba(20, 40, 71, 0.421); 
    -moz-box-shadow: -13px 4px 8px 2px  rgb(20, 40, 71, 0.421); 
  }


@media (max-width:1000px){
    .navbar-main{
        height:auto;
        position:-webkit-sticky;
        position: sticky;
        top: 0;
        box-shadow: 5px 5px 8px 2px  rgba(20, 40, 71, 0.421);
        -webkit-box-shadow: 5px 5px 8px 2px rgba(20, 40, 71, 0.421); 
        -moz-box-shadow: -13px 4px 8px 2px  rgb(20, 40, 71, 0.421); 
    }

    .navbar-main img {
        height:50px;
        width: auto;
    }
    .theme-change{
        display: none;
       }

}
