@font-face {
  font-family: massEffect;
  src: url(./Mass-Effect-Font/me123.ttf); 
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;

}

.body{
  width: 80%;

}
